
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

:root {
  --color-primary: #023337;
  --color-primary-dark: #000000;
  --color-primary-gray: #7C7C7C;
  --color-secondary: #2aba69;
  --color-tertiary: #C1E6BA;
  --color-spring: #EAF8E7;

  --font-family-base: 'Manrope', 'Helvetica Neue', Arial, sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.6;

  --color-background: #f5f5f5;
  --color-surface: #FFFFFF;
  --color-error: #EF4343;
  --color-success: #EF4343;
  --color-pending: #F0D411;
  --primary: #6467F2;
  --color-text: #222;
  --color-text-light: #fff;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-background);
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
